.footer{

background:#222;

color:white;

padding:50px 8% 20px;

}



.footer-container{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:40px;

}



.footer-box h2{

font-size:32px;

color:#ff5722;

}



.footer-box h2 span{

color:white;

}



.footer-box h3{

margin-bottom:20px;

font-size:22px;

}



.footer-box p{

color:#ddd;

line-height:1.8;

}



.footer-box a{

display:block;

text-decoration:none;

color:#ddd;

margin-bottom:12px;

transition:.3s;

}



.footer-box a:hover{

color:#ff5722;

}




.footer-box p svg{

margin-right:10px;

color:#ff5722;

}




.social{

display:flex;

gap:20px;

font-size:25px;

color:#ff5722;

}



.social svg:hover{

color:white;

cursor:pointer;

}





.footer-bottom{

text-align:center;

border-top:1px solid #555;

margin-top:40px;

padding-top:20px;

color:#aaa;

}





@media(max-width:768px){


.footer-container{

grid-template-columns:1fr;

text-align:center;

}



.social{

justify-content:center;

}


}