/* Hero */
.hero-section{
    min-height:90vh;
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding:50px 8%;
    background:#fff8ee;
    }

   .hero-content{
    width:45%;
    }

    .hero-content h1{
    font-size:55px;
    line-height:1.2;
    color:#222;
    }

    .hero-content p{
    margin:20px 0;
    font-size:18px;
    color:#666;
    }

    .order-btn{
    background:#ff7a00;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:30px;
    font-size:18px;
    cursor:pointer;
    }

    .order-btn:hover{
    background:#e56700;
    }

   .hero-image img{
    width:450px;
    height:450px;
    object-fit:cover;
    border-radius:50%;
     }

    /* Features */
   .features{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:60px 10%;
    }

   .card{
    width:280px;
    text-align:center;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 20px #ddd;
    transition:.3s;
    }

   .card:hover{
    transform:translateY(-10px);
    }

   .card h2{
    font-size:45px;
    }

    /* Popular */
   .popular{
    padding:70px 8%;
    background:#fff;
      }

    .popular h1{
    text-align:center;
    font-size:38px;
    margin-bottom:40px;
    color:#ff5722;
}

.food-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.food-box{
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
    transition:.3s;
    cursor:pointer;
}

.food-box:hover{
    transform:translateY(-8px);
}

.food-box img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.food-box h3{
    text-align:center;
    padding:18px;
    font-size:22px;
    color:#333;
}

.food-box span{
    color:#ff7a00;
    font-size:20px;
    font-weight:bold;
}

/* Mobile */
@media(max-width:768px){
.hero-section{
    flex-direction:column;
    text-align:center;
}

.hero-content{
    width:100%;
}

.hero-content h1{
    font-size:38px;
}

.hero-image img{
    width:300px;
    height:300px;
    margin-top:30px;
}


.features,
.food-container{
    flex-direction:column;
    align-items:center;
}
}
