
.logo{
font-size:30px;
font-weight:bold;
color:#ff5722;
}

.logo span{
color:#222;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:#333;
font-weight:600;
}

.nav-links a:hover{
color:#ff5722;
}

.book-btn{
padding:10px 22px;
background:#ff5722;
color:#fff;
border:none;
border-radius:6px;
cursor:pointer;
}

.menu-icon{
display:none;
font-size:30px;
cursor:pointer;
}

.menu-header{
text-align:center;
padding:70px 20px;
background:#fff3ec;
}

.menu-card{
background:#fff;
border-radius:15px;
overflow:hidden;
box-shadow:0 5px 20px rgba(0,0,0,.1);
transition:.4s;
text-align:center;
}

.menu-card:hover{
transform:translateY(-10px);
}

.menu-card img{
width:100%;
height:220px;
object-fit:cover;
}

.menu-card h2{
margin-top:20px;
color:#333;
}

.menu-card p{
padding:15px;
color:#777;
}

.menu-card h3{
color:#ff5722;
font-size:24px;
margin-bottom:10px;
}

.menu-card span{
display:block;
margin-bottom:20px;
}

.menu-card button{
margin-bottom:25px;
padding:12px 25px;
background:#ff5722;
color:#fff;
border:none;
border-radius:30px;
cursor:pointer;
}

.menu-card button:hover{
background:#e64a19;
}

@media(max-width:768px){

.nav-links{
display:none;
position:absolute;
top:80px;
left:0;
width:100%;
background:#fff;
flex-direction:column;
text-align:center;
padding:20px;
}

.nav-links.active{
display:flex;
}

.menu-icon{
display:block;
}

.book-btn{
display:none;
}
}











/* ==========================
   Menu Header
========================== */

.menu-header{
    text-align:center;
    padding:50px 20px;
    background:#fff3eb;
}

.menu-header h1{
    font-size:40px;
    color:#222;
}

.menu-header p{
    color:#777;
    margin-top:10px;
}

/* ==========================
   Categories
========================== */

.categories{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    flex-wrap:wrap;
    margin:35px 0;
}

.categories button{
    padding:10px 28px;
    border:none;
    border-radius:30px;
    background:#ff5a1f;
    color:#fff;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.categories button:hover{
    background:#ff3d00;
}

.categories .active{
    background:#222;
}

/* ==========================
   Food Container
========================== */

.menu-container{
    width:95%;
    margin:40px auto;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;
}

/* ==========================
   Food Card
========================== */

.food-card{

    background:#fff;

    border-radius:18px;

    overflow:hidden;

    box-shadow:0 8px 20px rgba(0,0,0,.10);

    transition:.3s;

    width:100%;
}

.food-card:hover{

    transform:translateY(-8px);

}

.food-card img{

    width:100%;

    height:220px;

    object-fit:cover;

    display:block;
}

.food-content{

    padding:20px;

    text-align:center;
}

.food-content span{
    font-weight: bold;
    color:#222;
    font-size: 20px;
    margin-bottom:10px;
}

.food-content p{
    color:#666;
    min-height:45px;
    margin-bottom:15px;
}

.food-content h4{

    color:#ff5a1f;

    font-size:28px;

    margin-bottom:15px;
}

.rating{

    font-size:20px;

    margin-bottom:18px;
}

.food-content button{

    padding:12px 30px;

    border:none;

    border-radius:30px;

    background:#ff5a1f;

    color:#fff;

    cursor:pointer;

    transition:.3s;
}

.food-content button:hover{

    background:#222;
}

/* ==========================
   Responsive
========================== */

@media(max-width:1200px){

    .menu-container{

        grid-template-columns:repeat(3,1fr);
    }

}

@media(max-width:992px){

    .menu-container{

        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:576px){

    .menu-container{

        grid-template-columns:1fr;
    }
  }